ion-menu ion-toolbar {
  --background: var(--ion-color-color4);
  height: 150px; }
  ion-menu ion-toolbar ion-row img {
    margin: 0 auto;
    display: block;
    width: 150px; }
  ion-menu ion-toolbar ion-row .text-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: white; }
