<!--
  - WishList Screen
  - @author    ThemesBuckets <themesbuckets@gmail.com>
  - @copyright Copyright (c) 2020
  - @license   AppsPlaces
-->

<!-- Header -->
<ion-header no-border>
  <ion-toolbar color="color3">

    <!-- Menu Option -->
    <ion-buttons slot="start">
      <ion-menu-toggle menu="pages" >
        <ion-button color="white">
          <ion-icon name="menu" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <!-- Title -->
    <ion-title>{{ 'menu.wishlist2' | translate }}</ion-title>

    <!-- Cart Button Option -->
    <ion-buttons slot="end">
      <ion-button color="white" (click)="gotoCartPage()">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Contents -->
<ion-content id="wishlist" fullscreen class="ion-padding">
  <div class="noWishlist" *ngIf="chkWishList"><h2>{{ 'product_details.noWishlist' | translate }}</h2></div>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let item of products">
        <ion-card class="ion-no-margin">

          <!-- Product Image -->
          <div class="card-img" [style.background-image]="'url(' + item.default_image + ')'"
            (click)="goToProductDetails(item)"></div>
            

          <!-- Wish Button or Product Like/Dislike Button Option -->
          <ion-fab vertical="top" horizontal="end" (click)="removeFromWishList(item)">
            <ion-fab-button>
              <ion-icon color="color1" name="heart"></ion-icon>
            </ion-fab-button>
          </ion-fab>

          <!-- Product Contents -->
          <ion-card-content (click)="goToProductDetails(item)">
        
            <ion-row>
              <ion-text color="color1">{{item.currency_symble}}{{item.discount_price}} &nbsp;</ion-text>
              <span class="previous-price"> {{item.currency_symble}}{{item.original_price}}</span>
            </ion-row>
            <ion-row>
              <h4 class="product-name">{{item.name | slice:0:20}}</h4>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>