#signin {
  text-align: center; }
  #signin ion-button {
    --color-selected: #FF8080;
    --color: #FF8080; }
  #signin .section_zero {
    margin-top: 10px;
    text-align: left;
    position: absolute; }
  #signin .section_one {
    height: 10%; }
    #signin .section_one h2 {
      font-weight: 900;
      padding-top: 2%; }
    #signin .section_one p {
      color: var(--ion-color-color1);
      font-weight: bold; }
  #signin .section_two {
    height: 80%; }
    #signin .section_two img {
      height: 30%;
      margin-top: 30px; }
  #signin .section_three {
    height: 5%;
    padding: 8px; }
  #signin a.btn-social,
  #signin .btn-social {
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    /*margin: 8px 4px;*/
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
    width: 35px; }
  #signin .btn-facebook {
    background-color: #3b5998; }
  #signin .btn-google-plus {
    background-color: #dd4b39; }
  #signin .btn-instagram {
    background-color: #3f729b; }
  #signin .btn-twitter {
    background-color: #55acee; }
