<!--
  - SignIn/Login Screen
  - @author    ThemesBuckets <themesbuckets@gmail.com>
  - @copyright Copyright (c) 2020
  - @license   AppsPlaces
-->

<!-- Header -->
<!-- <ion-header no-border >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="color1" default-href="" text="" icon="arrow-round-back" routerLink="/landing"
        routerDirection="root">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<!-- Contents -->
<ion-content id="signin" fullscreen>
  <div class="section_zero">
    <!-- <ion-button fill="clear"  routerLink="/home"
  routerDirection="root"><ion-icon name="arrow-back"></ion-icon></ion-button> -->

  <ion-button fill="clear" (click)="dismiss()"><ion-icon name="arrow-back"></ion-icon></ion-button>
 
  </div>
  
  <div class="section_one">
    <h2>{{ 'login.title' | translate }}</h2>
    <p>{{ 'login.description' | translate }}</p>
  </div>
 
  <div class="section_two no-margin ion-padding">
    <img class="" src="assets/images/eCommerce-img.png" style="height:auto;width:269px" />
	<ion-radio-group [(ngModel)]="login_type"  class="ion-padding" style="display:none">
		<ion-list-header>
		  <ion-label >Login Via</ion-label>
		</ion-list-header>
	  <ion-item>
        
        <ion-radio  name="login_type"  value="password" (ionSelect)="radioGroupChange('password')"></ion-radio>
		<ion-label class="ion-padding"> Password
        </ion-label>
		
		<ion-radio  name="login_type" value="otp" (ionSelect)="radioGroupChange('otp')" style="display:none"> </ion-radio>
		<ion-label class="ion-padding" style="display:none"> OTP
        </ion-label>
      </ion-item>
	  </ion-radio-group>
    <!-- SignIn Form -->
    <form class="ion-padding" *ngIf="login_type=='otp'">
	
	
      <!-- Email -->
	<ion-button  slot="end" style="float:right" color="color1" (click)="sendotp()" [disabled]="resendotp">
		<ion-text><strong>{{ 'login.send_otp' | translate }}</strong></ion-text>
		</ion-button>
      <ion-item>
        <ion-label>
        
        </ion-label>
        <ion-input type="number"  name="mobile_otp" placeholder="Mobile" [(ngModel)]="mobile_otp"></ion-input>
		
      </ion-item>
		
		 
		
      <!-- Password -->
      <ion-item class="ion-padding-top">
        <ion-label>
       
        </ion-label>
        <ion-input type="text"  name="otp" placeholder="OTP"[(ngModel)]="otp"></ion-input>
      </ion-item>
      <!-- SignIn Buttons -->
	  <div class="buttons">
       <!-- <ion-button expand="block" color="color1" routerLink="/tabs/tab1" routerDirection="root">
          <ion-text><strong>SIGN IN</strong></ion-text>
        </ion-button>-->

        <ion-button expand="block" color="color1" (click)="loginCheck()">
          <ion-text><strong>{{ 'login.sign_in' | translate }}</strong></ion-text>
        </ion-button>

      <!--  <p>{{ 'login.or_login' | translate }}</p> -->

        <!--
		<a href="" class="btn-social btn-facebook" (click)="facebookLogin()"><i class="fab fa-facebook-f"></i></a>
        <a href="" class="btn-social btn-google-plus"  (click)="doGoogleLogin()"><i class="fab fa-google-plus-g"></i></a> -->
        <!-- <a href="" target="_blank" class="btn-social btn-instagram"><i class="fab fa-instagram"></i></a>
        <a href="" target="_blank" class="btn-social btn-twitter"><i class="fab fa-twitter"></i></a> -->

      </div>
    </form>
	
	<form class="ion-padding" *ngIf="login_type=='password'">
	
	
      <!-- Email -->
	
		<ion-item>
        <ion-label>
        
        </ion-label>
        <ion-input type="number"  name="mobile" placeholder="Mobile" [(ngModel)]="mobile"></ion-input>
		
      </ion-item>

      <!-- Password -->
      <ion-item class="ion-padding-top">
        <ion-label>
          
        </ion-label>
        <ion-input type="password" placeholder="{{ 'login.password_place' | translate }}" name="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <!-- Forget Password Button -->
      <ion-button expand="block" color="color2" fill="clear" slot="end" (click)="goToForgotPass()"
        routerDirection="root">
        {{ 'login.forget_password' | translate }}?
      </ion-button>


      <!-- SignIn Buttons -->
     <div class="buttons">
       <!-- <ion-button expand="block" color="color1" routerLink="/tabs/tab1" routerDirection="root">
          <ion-text><strong>SIGN IN</strong></ion-text>
        </ion-button>-->

        <ion-button expand="block" color="color1" (click)="loginCheck()">
          <ion-text><strong>{{ 'login.sign_in' | translate }}</strong></ion-text>
        </ion-button>

      <!--  <p>{{ 'login.or_login' | translate }}</p> -->

        <!--
		<a href="" class="btn-social btn-facebook" (click)="facebookLogin()"><i class="fab fa-facebook-f"></i></a>
        <a href="" class="btn-social btn-google-plus"  (click)="doGoogleLogin()"><i class="fab fa-google-plus-g"></i></a> -->
        <!-- <a href="" target="_blank" class="btn-social btn-instagram"><i class="fab fa-instagram"></i></a>
        <a href="" target="_blank" class="btn-social btn-twitter"><i class="fab fa-twitter"></i></a> -->

      </div>
    </form>
	 
  </div>

  <!-- SignUp Buttons -->
  <div class="section_three" >
    <!-- <ion-button fill="clear" color="color2" routerLink="/signup" routerDirection="root">
      <span>{{ 'login.sign_up1' | translate }}? <b>{{ 'login.sign_up2' | translate }}</b></span>
    </ion-button> -->

    <ion-button fill="clear" color="color2" (click)="signup()">
      <span>{{ 'login.sign_up1' | translate }}? <b>{{ 'login.sign_up2' | translate }}</b></span>
    </ion-button>
  </div>
</ion-content>