<!--
  - Signup Screen
  - @author    ThemesBuckets <themesbuckets@gmail.com>
  - @copyright Copyright (c) 2020
  - @license   AppsPlaces
-->

<!-- Header -->
<!-- <ion-header no-border>
  <ion-toolbar>
  
    <ion-buttons slot="start">
      <ion-back-button color="color1" default-href="" text="" icon="arrow-round-back" routerLink="/landing"
        routerDirection="root">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<!-- Contents -->
<ion-content id="signup" fullscreen>
  <div class="section_zero">
    <ion-button fill="clear"  (click)="closeSignup()"><ion-icon name="arrow-back"></ion-icon></ion-button>
  </div>
  <div class="section_one">
    <h2>{{ 'signup.title' | translate }}</h2>
    <!-- <p>{{ 'signup.description' | translate }}</p> -->
  </div>

  <!-- SignUp Form -->
  <div class="section_two ion-padding">
    <form class="ion-padding">
	
	<div class="step_one" *ngIf="step==1">
	  <ion-item class="ion-padding-top">
        <ion-label>
          <ion-icon name="call" color="color2"></ion-icon>
        </ion-label>
        <ion-input type="number" placeholder="{{ 'signup.phone_place' | translate }}" name="mobile_number"  [(ngModel)]="mobile_number"></ion-input>
      </ion-item>
	  
	     <div class="buttons ion-padding-top">
       

        <ion-button expand="block" color="color1" (click)="goto_next_step()">
          <ion-text><strong>Next</strong></ion-text>
        </ion-button>

      </div>
	  
	</div>
	
	<div class="step_two" *ngIf="step==2">
	<p>Please enter the OTP sent to your mobile. OTP is valid for 15 minutes only</p>
	 <ion-item class="ion-padding-top">
        <ion-label>
          <ion-icon name="eye" color="color2"></ion-icon>
        </ion-label>
        <ion-input type="number" placeholder="OTP" name="otp"  [(ngModel)]="otp"></ion-input>
      </ion-item>
	  
	  <div class="buttons ion-padding-top">
       

        <ion-button expand="block" color="color1" (click)="goto_next_step()">
          <ion-text><strong>Next</strong></ion-text>
        </ion-button>

      </div>
	
	</div>
	
	<div class="step_three" *ngIf="step==3">
	
	  <ion-item>
        <ion-label>
          <ion-icon name="person" color="color2"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="{{ 'signup.first_name_place' | translate }}" name="first_name" [(ngModel)]="first_name"></ion-input>
      </ion-item>

      <ion-item class="ion-padding-top">
        <ion-label>
          <ion-icon name="person" color="color2"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="{{ 'signup.last_name_place' | translate }}" name="last_name" [(ngModel)]="last_name"></ion-input>
      </ion-item>

      <!-- Email -->
      <ion-item class="ion-padding-top">
        <ion-label>
          <ion-icon name="mail" color="color2"></ion-icon>
        </ion-label>
        <ion-input type="email" placeholder="{{ 'signup.email_place' | translate }}" name="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <!-- Phone Number -->
    

      <!-- Password -->
      <ion-item class="ion-padding-top">
        <ion-label>
          <ion-icon name="eye" color="color2"></ion-icon>
        </ion-label>
        <ion-input type="password" placeholder="{{ 'signup.password_place' | translate }}" name="password"  [(ngModel)]="password"></ion-input>
      </ion-item>
 <div class="buttons ion-padding-top">
       

        <ion-button expand="block" color="color1" (click)="goto_next_step()">
          <ion-text><strong>SignUp</strong></ion-text>
        </ion-button>

      </div>
	</div>
      
	 
   
    </form>
  </div>
</ion-content>