#featured-products .card-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 150px; }

#featured-products .product-name {
  padding: 0;
  /* text-align: left;*/ }
  #featured-products .product-name h4 {
    font-size: 1rem;
    color: rgba(8, 8, 8, 0.58);
    text-align: center;
    width: 100%; }

#featured-products .product-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

#featured-products .previous-price {
  text-decoration: line-through;
  font-size: 0.8rem; }

#featured-products ion-fab-button {
  --background: transparent;
  --background-focused: transparent;
  --background-activated: transparent; }

#featured-products .text-bold {
  font-weight: bold; }
