<!--
  - Product Screen
  - @author    ThemesBuckets <themesbuckets@gmail.com>
  - @copyright Copyright (c) 2020
  - @license   AppsPlaces
-->

<!-- Header -->
<ion-header no-border>
  <ion-toolbar color="color3">
      
     <!-- Back to previous page -->
     <ion-buttons slot="start">
        <ion-back-button color="white" default-href="" (click)="beck_to_previous()" text="" icon="arrow-back">
        </ion-back-button>
      </ion-buttons>

      <!-- Title of page -->
      <ion-title>{{ 'product.title' | translate }}</ion-title>

       <!-- Cart Button Option -->
    <ion-buttons slot="end">
        <ion-button color="white" (click)="gotoCartPage()">
          <ion-icon name="cart"></ion-icon>
        </ion-button>
        <ion-button color="white" (click)="openFilterPage()">
            <ion-icon name="funnel"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<!-- Contents -->
<ion-content id="products" class="ion-padding">
   
  <!-- Product View Options -->
  <div class="ion-text-end">

      <!-- One Column Option -->
      <ion-button fill="clear" [color]="oneColumn ? 'color1' : 'color2'" class="ion-no-padding"
          (click)="showOneColumn()">
          <ion-icon slot="icon-only" name="square"></ion-icon>
      </ion-button>

      <!-- Grid Option -->
      <ion-button fill="clear" [color]="grid ? 'color1' : 'color2'" class="ion-no-padding" (click)="showGrid()">
          <ion-icon slot="icon-only" name="grid"></ion-icon>
      </ion-button>

      <!-- List View Option -->
      <ion-button fill="clear" [color]="list ? 'color1' : 'color2'" class="ion-no-padding" (click)="showList()">
          <ion-icon slot="icon-only" name="list"></ion-icon>
      </ion-button>
  </div>
  <!-- End Product View Options -->

  <div class="nodata" *ngIf="!checkNoData"><h2>{{'account.no_data' | translate}}</h2></div>
  <!-- Grid View Contents -->
  <ion-grid id="grid" *ngIf="grid">
      <ion-row>
          <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let item of products">
              <ion-card class="ion-no-margin">

                  <!-- Product Image -->
                  <div class="card-img" [style.background-image]="'url(' + item.default_image + ')'"
                      (click)="goToProductDetails(item)"></div>

                  <!-- Wish Button or Product Like/Dislike Button Option -->
                  <ion-fab vertical="top" horizontal="end">
                      <ion-fab-button>
                          <ion-icon color="color1" name="heart-outline" *ngIf="item.isWishlist==0"></ion-icon>
                          <ion-icon color="color1" name="heart" *ngIf="item.isWishlist!=0"></ion-icon>
                      </ion-fab-button>
                  </ion-fab>

                  <!-- Product Contents -->
                  <ion-card-content (click)="goToProductDetails(item)">
                      <ion-row>
                          <ion-text color="color1">{{item.currency_symble}}{{item.discount_price}} &nbsp;</ion-text>
                          <span class="previous-price"> {{item.currency_symble}}{{item.original_price}}</span>
                      </ion-row>
                      <ion-row>
                          <h4 class="product-name">{{item.name | slice:0:20}}</h4>
                      </ion-row>
                  </ion-card-content>
              </ion-card>
          </ion-col>
      </ion-row>
  </ion-grid>

  <!-- One Column View Contents -->
  <ion-grid id="oneColumn" *ngIf="oneColumn">
      <ion-row>
          <ion-col size="12" *ngFor="let item of products">
              <ion-card class="ion-no-margin">

                  <!-- Product Image -->
                  <div class="card-img" [style.background-image]="'url(' + item.default_image + ')'"
                      (click)="goToProductDetails(item)"></div>

                  <!-- Wish Button or Product Like/Dislike Button Option -->
                  <ion-fab vertical="top" horizontal="end">
                      <ion-fab-button>
                          <ion-icon color="color1" name="heart-outline" *ngIf="item.isWishlist==0"></ion-icon>
                          <ion-icon color="color1" name="heart" *ngIf="item.isWishlist!=0"></ion-icon>
                      </ion-fab-button>
                  </ion-fab>

                  <!-- Product Contents -->
                  <ion-card-content (click)="goToProductDetails(item)">
                      <ion-row>
                          <ion-text color="color1">{{item.currency_symble}}{{item.discount_price}} &nbsp;</ion-text>
                          <span class="previous-price"> {{item.currency_symble}}{{item.original_price}}</span>
                      </ion-row>
                      <ion-row>
                          <h4 class="product-name">{{item.name | slice:0:20}}</h4>
                      </ion-row>
                  </ion-card-content>
              </ion-card>
          </ion-col>
      </ion-row>
  </ion-grid>

  <!-- List View Contents -->
  <div id="list" *ngIf="list">
      <ion-card *ngFor="let item of products">
          <ion-list lines="none" (click)="goToProductDetails(item)">
              <ion-item class="ion-no-padding">

                  <!-- Product Image -->
                  <ion-thumbnail slot="start">
                      <img style="vertical-align: middle;" [src]="item.default_image">
                  </ion-thumbnail>

                  <!-- Wish Button or Product Like/Dislike Button Option -->
                  <ion-fab vertical="bottom" horizontal="end">
                      <ion-icon color="color1" name="heart-outline" *ngIf="item.isWishlist==0"></ion-icon>
                      <ion-icon color="color1" name="heart" *ngIf="item.isWishlist!=0"></ion-icon>
                  </ion-fab>

                  <!-- Product Contents -->
                  <ion-label class="ion-text-wrap">
                      <ion-row>
                          <h4 class="product-name">{{item.name | slice:0:20}}</h4>
                      </ion-row>
                      <ion-row>
                          <ion-text color="color1">{{item.currency_symble}}{{item.discount_price}} &nbsp;</ion-text>
                          <span class="previous-price"> {{item.currency_symble}}{{item.original_price}}</span>
                      </ion-row>
                  </ion-label>
              </ion-item>
          </ion-list>
      </ion-card>
  </div>
</ion-content>