<!--
  - Forget Password Screen
  - @author    ThemesBuckets <themesbuckets@gmail.com>
  - @copyright Copyright (c) 2020
  - @license   AppsPlaces
-->

<!-- Header -->
<!-- <ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="color1" default-href="" text="" icon="arrow-round-back" routerLink="/landing"
        routerDirection="root">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<!-- Contents -->
<ion-content id="forget-password" fullscreen>

  <div class="section_zero">
    <ion-button fill="clear" (click)="dismiss()"><ion-icon name="arrow-back"></ion-icon></ion-button>
  </div>

  <div class="section_one ion-padding">
    <h2>{{ 'forget_pass.title' | translate }} ?</h2>
    <p>{{ 'forget_pass.description' | translate }}</p>
  </div>

  <div class="section_two ion-padding">

    <img class="ion-padding" src="assets/images/forgot-password.png" />

    <!-- Forget Password Form -->
    <form class="ion-padding">
      <!-- Phone Number -->
      <ion-item class="ion-padding-top">
        <ion-label>
          <ion-icon name="mail" color="color2"></ion-icon>
        </ion-label>
        <ion-input type="email" placeholder="{{ 'forget_pass.email_place' | translate }}" name="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <!-- Submit Button -->
      <div class="buttons ion-padding-top">
        <ion-button expand="block" color="color1" (click)="forgetPassword()">
          <ion-text><strong>{{ 'forget_pass.submit' | translate }}</strong></ion-text>
        </ion-button>
      </div>
    </form>
  </div>

  <!-- SignUp Button -->
  <div class="section_three">
    <ion-button fill="clear" color="color2" routerLink="/signup" routerDirection="root">
      <span>{{ 'forget_pass.sign_up1' | translate }}? <b>{{ 'signup.sign_up' | translate }}</b></span>
    </ion-button>
  </div>
</ion-content>