#hot-deals {
  /* .text-bold {
        font-weight: bold;
    } */ }
  #hot-deals ion-fab-button {
    --background: transparent;
    --background-focused: transparent;
    --background-activated: transparent; }
  #hot-deals ion-card-title {
    font-size: 1rem; }
  #hot-deals .card-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px; }
