#products .card-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

#products #grid .card-img {
  height: 150px; }

#products #oneColumn .card-img {
  height: 200px; }

#products .product-name {
  font-size: 1.1rem;
  font-weight: bold;
  color: rgba(8, 8, 8, 0.8);
  letter-spacing: -0.5px; }

#products .previous-price {
  text-decoration: line-through;
  font-size: 0.8rem; }

#products .nodata {
  text-align: center;
  margin-top: 50%; }

#products #list .item ion-thumbnail {
  width: 140px;
  height: 90px; }
  #products #list .item ion-thumbnail img {
    width: 140px;
    height: 90px;
    border-radius: 5px; }

#products #list .item ion-note {
  font-size: 1rem;
  font-weight: 600; }

#products ion-fab-button {
  --background: transparent;
  --background-focused: transparent;
  --background-activated: transparent;
  width: 25px;
  height: 25px; }
  #products ion-fab-button ion-icon {
    font-size: 17px; }

ion-list .product-name {
  margin-bottom: 10px; }
