<!--
  - Account Screen
  - @author    ThemesBuckets <themesbuckets@gmail.com>
  - @copyright Copyright (c) 2020
  - @license   AppsPlaces
-->

<!-- Header -->
<ion-header no-border>
  <ion-toolbar color="color3">

    <!-- Side Menu -->
	<ion-buttons slot="start">
     <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <!-- Page title -->
	 <ion-title>{{ 'menu.privacy_policy' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div class="ion-padding"  [innerHTML]="privacytxt">

  </div>
</ion-content>


