#product-details img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover; }

#product-details ion-slides {
  --bullet-background: var(--ion-color-light);
  --bullet-background-active: var(--ion-color-color1); }
  #product-details ion-slides img {
    border-radius: 10px; }

#product-details ion-fab-button {
  --background: transparent;
  --background-focused: transparent;
  --background-activated: transparent; }

#product-details .product-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--ion-color-medium); }

#product-details .price {
  font-weight: bold; }

#product-details .previous-price {
  text-decoration: line-through;
  font-size: 0.8rem; }

#product-details .border-style {
  border: 4px solid;
  width: 60px;
  border-radius: 15%; }

#product-details .select-heading {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--ion-color-medium); }

#product-details .size-label {
  font-weight: bold;
  font-size: 1.1rem; }

#product-details .hert_icon {
  position: absolute;
  margin-top: 16%; }

#product-details .slider_position {
  position: relative; }

ion-footer ion-toolbar {
  --background-color: transparent;
  --ion-color-base: transparent !important; }

ion-footer ion-button {
  --box-shadow: -1px 1px 17px -3px var(--ion-color-color1); }
