<!--
  - Landing Page Screen
  - @author    ThemesBuckets <themesbuckets@gmail.com>
  - @copyright Copyright (c) 2020
  - @license   AppsPlaces
-->

<ion-content id="landing-page" fullscreen>
  <div class="section_one">
    <h2>WELLCOME</h2>
    <p>Buy product online or offline</p>
  </div>

  <div class="section_two">
    <img class="ion-padding" src="assets/images/girls-shopping.jpg" />
  </div>

  <div class="section_three">
    <p class="ion-padding">It is a long established fact that a reader will be distracted by the readable content of a
      page when looking at its layout.</p>

    <!-- Button Options -->
    <div class="ion-padding">
      <ion-button expand="block" color="color1" routerLink="/signin" routerDirection="root">Login</ion-button>
      <ion-button expand="block" fill="outline" color="color1" routerLink="/signup" routerDirection="root">Sign Up
      </ion-button>

      <!-- <p>Or via social media</p>

      <a href="" target="_blank" class="btn-social btn-facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="" target="_blank" class="btn-social btn-google-plus"><i class="fab fa-google-plus-g"></i></a>
      <a href="" target="_blank" class="btn-social btn-instagram"><i class="fab fa-instagram"></i></a>
      <a href="" target="_blank" class="btn-social btn-twitter"><i class="fab fa-twitter"></i></a> -->

    </div>
  </div>

</ion-content>