<!--
  - Account Screen
  - @author    ThemesBuckets <themesbuckets@gmail.com>
  - @copyright Copyright (c) 2020
  - @license   AppsPlaces
-->

<!-- Header -->
<ion-header no-border>
  <ion-toolbar color="color3">

    <!-- Side Menu -->
	<ion-buttons slot="start">
     <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <!-- Page title -->
    <ion-title>{{ 'account.password' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding">
  <form class="ion-padding-top">
    <ion-grid>
      <ion-row  justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="ion-padding">
            <ion-item>
			<ion-label position="floating">{{ 'account.current_password' | translate }}</ion-label>
              <ion-input name="old_password"  [(ngModel)]="old_password" type="password" ></ion-input>
			 </ion-item>
			
            <ion-item>
			<ion-label position="floating">{{ 'account.new_password' | translate }}</ion-label>
              <ion-input name="new_password"  [(ngModel)]="new_password" type="password" ></ion-input>
            </ion-item>
			
			<ion-item>
			<ion-label position="floating">{{ 'account.confirm_password' | translate }}</ion-label>
              <ion-input name="new_password_conf"  [(ngModel)]="new_password_conf" type="text" ></ion-input>
            </ion-item>

          </div>
          <div class="ion-padding">
            <ion-button  expand="block" (click)="changepassword()">{{ 'account.password' | translate }}</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>