/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import url(~@ionic/angular/css/core.css);
/* Basic CSS for apps built with Ionic */
@import url(~@ionic/angular/css/normalize.css);
@import url(~@ionic/angular/css/structure.css);
@import url(~@ionic/angular/css/typography.css);
@import url(~@ionic/angular/css/display.css);
/* Optional CSS utils that can be commented out */
@import url(~@ionic/angular/css/padding.css);
@import url(~@ionic/angular/css/float-elements.css);
@import url(~@ionic/angular/css/text-alignment.css);
@import url(~@ionic/angular/css/text-transformation.css);
@import url(~@ionic/angular/css/flex-utils.css);
/* NGX Datatable CSS */
@import url(~assets/styles/ngx-datatable/_index.css);
@import url(~assets/styles/ngx-datatable/_dark.css);
@import url(~assets/styles/ngx-datatable/_material.css);
@import url(~assets/styles/ngx-datatable/_bootstrap.css);
@import url(~assets/styles/ngx-datatable/_icons.css);
@font-face {
  font-family: 'Maven Pro';
  src: url("./assets/font/MavenProRegular.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Maven Pro';
  src: url("./assets/font/MavenProBold.woff") format("woff2");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Maven Pro';
  src: url("./assets/font/MavenProMedium.woff") format("woff2");
  font-weight: 500;
  font-style: normal; }

* {
  font-family: 'Maven Pro'; }

input.searchbar-input.sc-ion-searchbar-md {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

ion-header ion-toolbar {
  --background: #183883 !important; }

ion-title {
  text-align: center; }
  ion-title img {
    width: 150px; }

.in-toolbar img {
  margin-top: 20px !important;
  margin-bottom: 15px !important; }

.modal-wrapper .section_two img {
  margin-top: 60px; }

.ion-button {
  -webkit-box-shadow: none;
  box-shadow: none; }

ion-grid#grid {
  padding: 0; }

ion-card {
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); }

ion-card-subtitle {
  text-align: center; }

ion-fab-button.md.ion-activatable.ion-focusable.hydrated {
  width: 30px;
  height: 30px; }

ion-icon.md.ion-color.ion-color-color1.hydrated {
  font-size: 16px; }
