<!--
  - Signup Screen
  - @author    ThemesBuckets <themesbuckets@gmail.com>
  - @copyright Copyright (c) 2020
  - @license   AppsPlaces
-->

<!-- Header -->
<!-- <ion-header no-border>
  <ion-toolbar>
  
    <ion-buttons slot="start">
      <ion-back-button color="color1" default-href="" text="" icon="arrow-round-back" routerLink="/landing"
        routerDirection="root">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<!-- Contents -->
<ion-content id="signup" fullscreen>
  <div class="section_zero">
    <ion-button fill="clear"  (click)="closeSignup()"><ion-icon name="arrow-back"></ion-icon></ion-button>
  </div>
  <div class="section_one">
    <h2>{{ 'signup.title' | translate }}</h2>
    <p>{{ 'signup.description' | translate }}</p>
  </div>

  <!-- SignUp Form -->
  <div class="section_two ion-padding">
    <form class="ion-padding">
      <!-- Name -->
      <ion-item>
        <ion-label>
          <ion-icon name="person" color="color2"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="{{ 'signup.first_name_place' | translate }}" name="first_name" [(ngModel)]="first_name"></ion-input>
      </ion-item>

      <ion-item class="ion-padding-top">
        <ion-label>
          <ion-icon name="person" color="color2"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="{{ 'signup.last_name_place' | translate }}" name="last_name" [(ngModel)]="last_name"></ion-input>
      </ion-item>

      <!-- Email -->
      <ion-item class="ion-padding-top">
        <ion-label>
          <ion-icon name="mail" color="color2"></ion-icon>
        </ion-label>
        <ion-input type="email" placeholder="{{ 'signup.email_place' | translate }}" name="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <!-- Phone Number -->
      <ion-item class="ion-padding-top">
        <ion-label>
          <ion-icon name="call" color="color2"></ion-icon>
        </ion-label>
        <ion-input type="number" placeholder="{{ 'signup.phone_place' | translate }}" name="mobile_number"  [(ngModel)]="mobile_number"></ion-input>
      </ion-item>

      <!-- Password -->
      <ion-item class="ion-padding-top">
        <ion-label>
          <ion-icon name="eye" color="color2"></ion-icon>
        </ion-label>
        <ion-input type="password" placeholder="{{ 'signup.password_place' | translate }}" name="password"  [(ngModel)]="password"></ion-input>
      </ion-item>

      <!-- SignUp Button -->
      <div class="buttons ion-padding-top">
        <!-- <ion-button expand="block" color="color1" routerLink="/tabs/tab1" routerDirection="root">
          <ion-text><strong>SIGN UP</strong></ion-text>
        </ion-button> -->

        <ion-button expand="block" color="color1" (click)="register()">
          <ion-text><strong>{{ 'signup.sign_up' | translate }}</strong></ion-text>
        </ion-button>

        <!-- <p>Or via social media</p>

        <a href="" target="_blank" class="btn-social btn-facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="" target="_blank" class="btn-social btn-google-plus"><i class="fab fa-google-plus-g"></i></a>
        <a href="" target="_blank" class="btn-social btn-instagram"><i class="fab fa-instagram"></i></a>
        <a href="" target="_blank" class="btn-social btn-twitter"><i class="fab fa-twitter"></i></a> -->

      </div>
    </form>
  </div>
</ion-content>