@font-face {
  font-family: 'data-table';
  src: url('./fonts/data-table.eot');
  src: url('./fonts/data-table.eot?#iefix') format('embedded-opentype'), 
    url('./fonts/data-table.woff') format('woff'),
    url('./fonts/data-table.ttf') format('truetype'), 
    url('./fonts/data-table.svg#data-table') format('svg');
  font-weight: normal;
  font-style: normal;
}