<!--
  - Search Screen
  - @author    ThemesBuckets <themesbuckets@gmail.com>
  - @copyright Copyright (c) 2020
  - @license   AppsPlaces
-->

<!-- Header -->
<ion-header no-border>
  <ion-toolbar color="color3">

    <!-- Back to previous page option button -->
    <ion-buttons slot="start">
      <ion-back-button color="white" default-href="" (click)="dismiss()" text="" icon="arrow-back">
      </ion-back-button>
    </ion-buttons>

    <!-- Page Title -->
    <ion-title>{{ 'home.search' | translate }}</ion-title>

    <!-- Cart Button Option -->
    <ion-buttons slot="end">
      <ion-button color="white" (click)="gotoCartPage()">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Contents -->
<ion-content id="search" fullscreen class="ion-padding">

  <!-- Search bar -->
  <ion-searchbar placeholder="{{ 'home.search_place' | translate }}" debounce="500"  [(ngModel)]="searchTerm"
  (ionChange)="setFilteredItems()"></ion-searchbar>

  <!-- When search result is empty -->
  <!-- No products Found -->
  <!-- <ion-grid class="ion-padding" id="empty" *ngIf="products.length == 0" style="height: 100%">
    <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%; flex-direction: column">
      <div class="ion-text-center ion-padding">
        <ion-icon name="search" style="zoom:5.0;" color="medium"></ion-icon>
        <h4>No Search Found</h4>
        <p>Looks like there are no products available at this moment</p>
      </div>
    </ion-row>
  </ion-grid> -->

  <!-- Search Result Content -->
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let item of products ">
        <ion-card class="ion-no-margin" (click)="goToProductDetails(item)">

          <!-- Product Image -->
          <div class="card-img" [style.background-image]="'url(' + item.default_image + ')'"></div>

          <!-- Wish Button or Product Like/Dislike Button Option -->
          <ion-fab vertical="top" horizontal="end">
            <ion-fab-button>
              <ion-icon color="color1" name="heart-outline" *ngIf="item.isWishlist==0"></ion-icon>
              <ion-icon color="color1" name="heart" *ngIf="item.isWishlist!=0"></ion-icon>
            </ion-fab-button>
          </ion-fab>

          <!-- Product Contents -->
          <ion-card-content>
            <ion-row>
              <ion-text color="color1">{{item.currency_symble}}{{item.discount_price}} &nbsp;</ion-text>
              <span class="previous-price"> {{item.currency_symble}}{{item.original_price}}</span>
            </ion-row>
            <ion-row>
              <h4 class="product-name">{{item.name | slice:0:20}}</h4>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>