<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ 'menu.home' | translate }}</ion-label>
    </ion-tab-button>

    <!--<ion-tab-button tab="tab2">
      <ion-icon name="gift"></ion-icon>
      <ion-label>{{ 'menu.best_seller' | translate }}</ion-label>
    </ion-tab-button>-->

    <ion-tab-button tab="tab3">
      <ion-icon name="heart"></ion-icon>
      <ion-label>{{ 'menu.wishlist1' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>{{ 'menu.orders1' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{ 'menu.account' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>