<!--
  - Account Screen
  - @author    ThemesBuckets <themesbuckets@gmail.com>
  - @copyright Copyright (c) 2020
  - @license   AppsPlaces
-->

<!-- Header -->
<ion-header no-border>
  <ion-toolbar color="color3">

    <!-- Side Menu -->
	<ion-buttons slot="start">
     <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <!-- Page title -->
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding">
  <form [formGroup]="change_pass" (ngSubmit)="changepassword()">
    <ion-grid>
      <ion-row  justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="ion-padding">
            <ion-item>
			<ion-label position="floating">Current Password</ion-label>
              <ion-input name="old_password"  inputmode="password" formControlName="old_password"></ion-input>
			 </ion-item>
			 <div *ngFor="let error of errorMessages.old_password">
          <ng-container *ngIf="old_password.hasError(error.type) && (old_password.dirty || old_password.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

            <ion-item>
              <ion-input name="new_password"  inputmode="password" formControlName="new_password"></ion-input>
            </ion-item>
			<div *ngFor="let error of errorMessages.new_password">
          <ng-container *ngIf="new_password.hasError(error.type) && (new_password.dirty || new_password.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

			<ion-item>
              <ion-input name="new_password_conf"  inputmode="text" formControlName="new_password_conf"></ion-input>
            </ion-item>
			<div *ngFor="let error of errorMessages.new_password_conf">
          <ng-container *ngIf="new_password_conf.hasError(error.type) && (new_password_conf.dirty || new_password_conf.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

          </div>
          <div class="ion-padding">
            <ion-button [disabled]="!change_pass.valid" type="submit" expand="block" >Change Password</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>