#products {
    .card-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    #grid .card-img {
        height: 150px;
    }

    #oneColumn .card-img {
        height: 200px;
    }

    .product-name {
        font-size: 1.1rem;
        font-weight: bold;
        color: rgba(8, 8, 8, 0.8);
        letter-spacing: -0.5px;
    }
    .previous-price {
        text-decoration: line-through;
        font-size: 0.8rem;
    }
    .nodata{
        text-align: center;
        margin-top: 50%;
    }

    #list {
        .item {
            ion-thumbnail {
                width: 140px;
                height: 90px;

                img {
                    width: 140px;
                    height: 90px;
                    border-radius: 5px;
                }
            }

            ion-note {
                font-size: 1rem;
                font-weight: 600;
            }
        }
    }

    ion-fab-button {
        --background: transparent;
        --background-focused: transparent;
        --background-activated: transparent;
        width: 25px;
        height: 25px;

        ion-icon {
            font-size: 17px;
        }
    }
}

ion-list{
    .product-name {
        margin-bottom: 10px;
    }
}


