<ion-app>
  <ion-menu side="start" menuId="pages" type="overlay" contentId="mainContent" >

    <!-- Header -->
    <ion-header>
      <ion-toolbar>
        <ion-row>
          <!-- App Icon/ User Profile Image -->
         <!-- <ion-col size="12"> -->
		 
		 <!-- </ion-col> -->


          <!-- Name of the app/ user name -->
         
        </ion-row>
		<img src="assets/images/eCommerce-img.png" style="width:95%;padding:6.5%">
      </ion-toolbar>
    </ion-header>

    <!-- Content Options -->
    <!-- Menus -->
    <ion-content>
      <ion-list class="ion-padding" lines="none">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
		
          <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" *ngIf="p.link==0">
            <ion-icon size="small" slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{p.title | translate}}
            </ion-label>
          </ion-item>
		  <ion-item  *ngIf="p.link==1">
            <ion-icon size="small" slot="start" [name]="p.icon"></ion-icon>
           <a [href]="p.url" style="color:#000;text-decoration:none">
		   <ion-label>
              {{p.title | translate}}
            </ion-label>
			</a>
          </ion-item>
		  
		  
        </ion-menu-toggle>
		<ion-menu-toggle auto-hide="false">
          <ion-item (click)="callsupport()">
		   <ion-icon size="small" slot="start" [name]="'headset'"></ion-icon>
         <ion-label>{{ 'menu.customer_support' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
		
		<ion-menu-toggle auto-hide="false">
          <ion-item (click)="rateapp()">
		   <ion-icon size="small" slot="start" [name]="'star'"></ion-icon>
         <ion-label>{{ 'menu.rate_us' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
		<ion-menu-toggle auto-hide="false" *ngIf="loggedInapp">
          <ion-item (click)="signout()" >
		   <ion-icon size="small" slot="start" [name]="'log-out'" ></ion-icon>
         <ion-label>{{ 'menu.signout' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
		
        <!--
		<ion-menu-toggle auto-hide="false">
          <ion-item>
            <ion-icon size="small" slot="start" name="options"></ion-icon>
            <ion-label>{{ 'menu.language' | translate }}</ion-label>
            <ion-select value=""  (ionChange)="languageChanged($event)">
              <ion-select-option  value="en">English</ion-select-option>
              <ion-select-option  value="rem">عربي</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-menu-toggle>
		-->
      </ion-list>
       
    </ion-content>

   
  </ion-menu>
  
  <ion-router-outlet id="mainContent"></ion-router-outlet>
</ion-app>