<!--
  - Home Screen
  - @author    ThemesBuckets <themesbuckets@gmail.com>
  - @copyright Copyright (c) 2020
  - @license   AppsPlaces
-->

<!-- Header -->
<ion-header no-border>
  <ion-toolbar color="color3">

    <!-- Menu Option -->
    <ion-buttons slot="start">
      <ion-menu-toggle menu="pages">
        <ion-button color="white">
          <ion-icon name="menu" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <!-- Title of the app -->
    <!--<ion-title>{{ 'app_title.title' | translate }}</ion-title>-->

    <ion-title>   	
      		<img src="assets/images/eCommerce-img.png">
	</ion-title>    

    <!-- Cart Button Option -->
    <ion-buttons slot="end">
      <ion-button color="white" (click)="gotoCartPage()">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Contents -->
<ion-content id="home" fullscreen class="ion-padding">

  <!-- Search bar -->
  <app-searchbar></app-searchbar>

  <!-- Top Banner Slider -->
  <app-home-top-slider></app-home-top-slider>

  <!-- Categories -->
  <app-categories></app-categories>

  <!-- Featured Products -->
  <app-featured-products></app-featured-products>

  <!-- Hot Deals -->
  <app-hot-deals></app-hot-deals>

</ion-content>