#cart .item ion-thumbnail {
  width: 140px;
  height: 90px; }
  #cart .item ion-thumbnail img {
    width: 140px;
    height: 90px;
    border-radius: 5px; }

#cart .item ion-note {
  font-size: 1.3rem;
  font-weight: 600; }

#cart #empty h4 {
  color: #888888;
  font-weight: bolder; }

#cart #empty p {
  color: #888888; }

ion-footer ion-toolbar {
  --background-color: transparent;
  --ion-color-base: transparent !important; }

ion-footer ion-button {
  --box-shadow: -1px 1px 17px -3px var(--ion-color-color1); }
