#cart {
    .bg-gray
    {
        background:#f5f5f5;
    }
    .item {
        ion-thumbnail {
            width: 140px;
            height: 90px;

            img {
                width: 140px;
                height: 90px;
                border-radius: 5px;
            }
        }



        ion-note {
            font-size: 1.3rem;
            font-weight: 600;
        }
    }

    #empty {

        h4 {
            color: #888888;
            font-weight: bolder;
        }

        p {
            color: #888888;
        }
    }
}
 .inner-scroll
 {
     background: #f5f5f5;
 }
ion-footer {
    padding:10px;
    ion-button {
        height: 40px;
    }
}