<!--
  - Cart Screen
  - @author    ThemesBuckets <themesbuckets@gmail.com>
  - @copyright Copyright (c) 2020
  - @license   AppsPlaces
-->

<!-- Header -->
<ion-header no-border>
    <ion-toolbar color="color3">
  
      <!-- Back to previous page -->
      <ion-buttons slot="start">
        <ion-back-button color="white" default-href="" (click)="dismiss()" text="" icon="arrow-back">
        </ion-back-button>
      </ion-buttons>
  
      <!-- Title -->
      <ion-title>{{ 'cart.title' | translate }}</ion-title>
  
    </ion-toolbar>
</ion-header>

<!-- Contents -->
<ion-content id="cart" class="bg-gray">
    <div class="alert alert-danger" *ngIf="minimumcart>grantTotal">
        Minimum cart value ₹{{minimumcart}} add more item for checkout
    </div>
    <!-- When Cart is Empty -->
    <ion-grid class="ion-padding" id="empty" *ngIf="cartProducts.length==0" style="height: 100%">
        <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%; flex-direction: column">
            <div class="ion-text-center ion-padding">
                <ion-icon name="cart" style="zoom:5.0;" color="medium"></ion-icon>
                <h4>{{ 'cart.empty1' | translate }}</h4>
                <p>{{ 'cart.empty2' | translate }}</p>
            </div>
        </ion-row>
    </ion-grid>

    <!-- Cart Contents -->
    <div *ngIf="cartProducts.length!=0">
        <!-- Cart Product List -->
        <ion-card *ngFor="let item of cartProducts; let i = index">
            <ion-list lines="none">
                <ion-item class="ion-no-padding">

                    <!-- Product Image -->
                    <ion-thumbnail slot="start" style="width:100px">
                        <!-- <img style="vertical-align: middle;" [src]="item.images[0]"> -->
                        <img style="vertical-align: middle;" [src]="item.default_image">
                    </ion-thumbnail>

                    <ion-label class="ion-text-wrap">

                        <!-- Product Name -->
                        <ion-text color="dark">
                            <h2> {{ item.name }}</h2>
                        </ion-text>

                        <!-- Product Price -->
                        <ion-text color="color1">
                            <p>{{currencySymble}}{{item.discount_price}}</p> 
                        </ion-text>
						<ion-text>
						( {{item.stock_unit}} )
						</ion-text>

                        <!-- Quantity -->
						<ion-grid>
                        <ion-row>
                            <!-- Add More Product Quantity -->
                            <ion-col (click)="addQuantity(item, i)" >
                                <ion-icon style="zoom:2.0;" name="add-circle-outline" color="medium"></ion-icon>
                            </ion-col>

                            <!-- Total Quantity -->
                            <ion-col class="ion-text-center">{{item.quantity}}</ion-col>

                            <!-- Minus Product Quantity -->
                            <ion-col (click)="minusQuantity(item, i)" >
                                <ion-icon style="zoom:2.0;" name="remove-circle-outline" color="medium"></ion-icon>
                            </ion-col>
						
							<ion-col (click)="removeProduct(item, i)" >
							 <ion-icon style="zoom:2.0;" name="close-circle-outline" color="danger"></ion-icon>
							</ion-col>
                        </ion-row>
						</ion-grid>
                    </ion-label>

                    <!-- Remove Product From Cart -->
                    
                </ion-item>
            </ion-list>
        </ion-card>


        
    <!--discount -->
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item  >        
              <ion-label position="floating">{{ 'checkout.enter_coupon' | translate }}</ion-label>      
              <ion-input   [(ngModel)]="discount_code" type="text" ></ion-input>        
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-button color="color1" float-right (click)="chkDiscountCode()">{{ 'checkout.apply_coupon' | translate }}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
     
      <!--end discount-->

      <ion-card><!-- summary Of Products Price -->
        <ion-list lines="none">
             <ion-item>
                <ion-label>{{ 'order.sub_total' | translate }}</ion-label>
                <ion-note slot="end" color="dark">{{currencySymble}}{{total}}</ion-note>
            </ion-item> 

            <!-- <ion-item>
                <ion-label>Shipping</ion-label>
                <ion-note slot="end" color="dark">$25</ion-note>
            </ion-item> -->

            <ion-item>
                <ion-label>{{ 'order.discount' | translate }}</ion-label>
                <ion-note slot="end" color="dark">{{currencySymble}}{{discountAmount}}</ion-note>
            </ion-item>
			<ion-item>
                <ion-label>{{ 'order.shipping_charge' | translate }}</ion-label>
                <ion-note slot="end" color="dark">{{currencySymble}}{{shipping}}</ion-note>
            </ion-item>			

            <ion-item-divider></ion-item-divider>

            <ion-item>
                <ion-label>{{ 'cart.total' | translate }}</ion-label>
                <ion-note slot="end" color="dark">{{currencySymble}}{{grantTotal}}</ion-note>
            </ion-item>
        </ion-list>
    </ion-card>
    </div>

   
</ion-content>

<!-- Footer -->
<ion-footer no-border style="background:#fff;border-top:1px solid #ccc">
    <ion-row>
      
        <ion-col col-12>
            <ion-button color="color1" [disabled]="minimumcart>grantTotal" expand="block" (click)="goToCheckout()" *ngIf="cartProducts.length!=0">
                {{ 'cart.checkout' | translate }}
            </ion-button>
        </ion-col>
    </ion-row>

</ion-footer>