<!-- Header -->
<ion-header no-border>
  <ion-toolbar color="color3">

      <!-- Side Menu Option -->
      <ion-buttons slot="start">
          <ion-menu-toggle menu="pages">
              <ion-button color="white">
                  <ion-icon name="menu" slot="icon-only"></ion-icon>
              </ion-button>
          </ion-menu-toggle>
      </ion-buttons>

      <!-- Title of page -->
      <ion-title>{{ 'menu.about_us' | translate }}</ion-title>

  </ion-toolbar>
</ion-header>



<ion-content>

  <img class="ion-padding construction_img" src="assets/images/under_construction.jpg" />

</ion-content>
