#forget-password {
    text-align: center;
    height: 100%;
    ion-button{            
        --color-selected: #FF8080;
        --color: #FF8080;
    }

    .section_zero {
        margin-top: 10px;
        text-align: left;
        position: absolute;
       
    }

    .section_one {
        height: 15%;

        h2 {
            font-weight: 900;
            padding-top: 2%;
        }

        p {
            color: var(--ion-color-color1);
            font-weight: bold;
        }
    }

    .section_two {
        height: 70%;

        img {
            height: 50%;
        }
    }

    .section_three {
        height: 15%;
    }
}