#forget-password {
  text-align: center;
  height: 100%; }
  #forget-password ion-button {
    --color-selected: #FF8080;
    --color: #FF8080; }
  #forget-password .section_zero {
    margin-top: 10px;
    text-align: left;
    position: absolute; }
  #forget-password .section_one {
    height: 15%; }
    #forget-password .section_one h2 {
      font-weight: 900;
      padding-top: 2%; }
    #forget-password .section_one p {
      color: var(--ion-color-color1);
      font-weight: bold; }
  #forget-password .section_two {
    height: 70%; }
    #forget-password .section_two img {
      height: 40%;
      margin-top: 40px; }
  #forget-password .section_three {
    height: 15%; }
